.carousel_button {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;

  width: 44px;
  height: 44px;
  border: 0px solid transparent;
  padding: 0;

  background-color: transparent;
  cursor: pointer;
}

.carousel_button:hover {
  background-color: var(--main-black-color);
}

.carousel_button:hover .carousel_button__arrow {
  stroke: var(--main-white-color);
}

.carousel_button__arrow {
  fill: transparent;
  stroke: var(--main-black-color);
}

.next {
  transform: rotate(180deg);
}