.text_brand_color{
      color: var(--main-green_color);
}

.text-brand_color_dark{
  color: var(--secondary-green-dark-color);
}

.text_bold{
  font-weight: 800;
}

.text_uppercase{
  text-transform: uppercase;
}